/* Global Styles */
body, html {
  font-family: Arial, Helvetica, sans-serif;
  text-align: center;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Header Styles */
header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 20px;
  background-color: #000;
  border-radius: 15px;
  color: #fff;
}

/* Navigation Styles */
nav {
  background-color: #dadbf1;
  padding: 10px 0;
  margin: 0;
  height: calc(40vh - 100px);
}

/* Title Styles */
.title {
  font-size: 75px;
}

/* Input Styles */
.styled-input {
  width: 100%;
  max-width: 600px;
  padding: 15px 20px;
  font-size: 18px;
  border-radius: 10px;
  border: 1px solid #000;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.1);
  outline: none;
  background: url("curved-arrow.png") no-repeat right 20px center;
  background-size: 15px 15px;
}

.styled-input::placeholder {
  color: #bbb;
}

.styled-input:focus {
  border-color: #000;
}

.styled-input[type="text"]::-webkit-search-cancel-button {
  -webkit-appearance: none;
}

/* Buttons Styles */
.buttons {
  display: flex;
  gap: 10px;
}

.btn {
  border-radius: 10px;
  width: 140px;
  height: 50px;
  color: #fff;
  font-size: large;
  font-family: inherit;
}

.submit {
  background-color: black;
}

.sign-in {
  background-color: blue;
}

/* Container and Item Styles */
.container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-top: 75px;
}

.items {
  width: 45%;
  margin: 10px;
  font-size: 20px;
}

/* Main Section Styles */
main {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  height: 70vh;
  margin-top: 50px;
}

/* Footer Styles */
footer {
  display: flex;
  justify-content: space-between;
  padding: 20px;
  background-color: black;
  color: white;
}

footer div {
  flex: 1;
  margin: 0 10px;
}

footer div div {
  font-weight: bold;
  margin-bottom: 10px;
}

footer p {
  margin: 5px 0;
  font-size: 20px;
}
